<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <center>
  <%= form_with(model: bookmark, local: true) do |form| %>
    <% if bookmark.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

        <ul>
          <% bookmark.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :url %>
      <%= form.text_field :url, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :favorite %><br>
      <%= form.check_box :favorite %>
    </div>

    <div class="actions">
      <%= form.submit "Create Bookmark", class:"btn btn-success btn-lg btn-block" %>
    </div>
  <% end %>
  </center>
  </div>
</div>
